@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@1,300&display=swap');

:root {
    --primary-color: #284B63   ;
    --secondary-color: #3C6E71 ;
    --accent1-color: #D9D9D9;
    --accent2-color: #353535;
  
    --heading-font: "Sofia Sans Semi Condensed";
    --paragraph-font: ital, Helvetica, sans-serif;
  
    --headline-color-on-white: #396E94;
    --headline-color-on-color: #D9D9D9;
    --paragraph-color-on-white: #396E94;
    --paragraph-color-on-color: #D9D9D9;
    --paragraph-background-color: #284B63;
    --nav-link-color: #D9D9D9;
    --nav-background-color: #3C6E71;
    --nav-hover-link-color: #284B63;
    --nav-hover-background-color: #3C6E71;
}

body {
    margin: 0 auto;
    font-family:var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1 { 
    position: absolute;
    padding: 10px;
    background-color: rgba(5, 7, 12, 0.50);
    width: 98%;
    top: 0%;
    color: #fff;

}

.foto  {
    display: grid;
    grid-template-columns: 60% 40%;
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: rgba(5, 61, 202, 0.7);
    opacity: 0.9;   
    color: #fff;
    width: 80%;


}

article img {
    position: absolute;
    max-width: 200px;
    max-height: 80%;
    left: 67.7%;   
    top: 10%;

}

article p {
    text-align: justify;
    padding-left: 5px;
}
.hero {
    position: relative;
    display: inline-block;
    text-align: center;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
}
