body {
    font-size: 20px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;}

h1 {
    color: rgb(180, 70, 70);
    padding: 0.5rem;
    text-align: center;
}
main img {
    width: 250px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: center;
    margin: 0 0 1rem 1rem;
    margin-left: 150px;
}

div {
    width: 500px;
    margin: 20px;
    border: 10px;
    padding: 15px;
}

p {
    color: blue;
}

cite {
    color: blue;
}